{% include 'head.html' %}

<!-- 특정 style -->
<style>
  body{
    background-color: #fff;
  }
</style>
<!-- 특정 style end-->


<!-- head -->
<div class="white_head">
  <div class="global_back">
    <a href = "/">
      <img src="../../static/images/global/top_back.svg" alt="global_back">
    </a>
  </div>

  <h4 class="text_c">도움말 및 문의</h4>
</div>


<!-- body -->
<div class="white_body">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- 고객센터 -->

        <div class="mpg_section">
          <div class="mpg_title">고객센터</div>

          <div class="mpg_menu">
            <a href="/help">
              <div class="mpg_menu_body">
                <h4>도움말</h4>
                <h5><img src="../../static/images/global/arrow_black_right.svg" alt="arrow_black_right"></h5>
              </div>
            </a>
          </div>
        </div>

        <div class="mpg_section">
          <div class="mpg_menu">
            <a href="#">
              <div class="mpg_menu_body">
                <h4>문의</h4>
                <h5>momonim.korea@gmail.com</h5>
              </div>
            </a>
          </div>
        </div>

        <!-- 약관 및 정책 -->

        <div class="mpg_section">
          <div class="mpg_title">약관 및 정책</div>

          <div class="mpg_menu">
            <a target="_blank" href="https://docs.google.com/document/d/1RmJTUKqL0GlLmZYLJqwzoB7yU0FFTUk-khXPn7_h5Wg/edit?usp=sharing">
              <div class="mpg_menu_body">
                <h4>이용약관</h4>
                <h5><img src="../../static/images/global/arrow_black_right.svg" alt="arrow_black_right"></h5>
              </div>
            </a>
          </div>
        </div>

        <div class="mpg_section">
          <div class="mpg_menu">
            <a target="_blank" href="https://docs.google.com/document/d/1LyPjHPeuIeVJuZcviluw-1ym_a2BPf1rACF3qbUQmTY/edit?usp=sharing">
              <div class="mpg_menu_body">
                <h4>개인정보처리방침</h4>
                <h5><img src="../../static/images/global/arrow_black_right.svg" alt="arrow_black_right"></h5>
              </div>
            </a>
          </div>
        </div>

        <!-- 회사정보 -->

        <div class="mpg_section">
          <div class="mpg_title">회사정보</div>

          <div class="mpg_menu">
            <a href="#">
              <div class="mpg_menu_body">
                <h4>상호</h4>
                <h5>MOMO</h5>
              </div>
            </a>

            <div class="mpg_menu_line"></div>

            <a href="#">
              <div class="mpg_menu_body">
                <h4>공동 대표</h4>
                <h5>조은성, 장현명, 김용곤</h5>
              </div>
            </a>

            <a href="#">
              <div class="mpg_menu_body">
                <h4>개인정보보호책임자</h4>
                <h5>조은성</h5>
              </div>
            </a>

            <div class="mpg_menu_line"></div>

            <a href="#">
              <div class="mpg_menu_body">
                <h4>주소</h4>
                <h5>서울시 어쩌구 어디동 어디</h5>
              </div>
            </a>

            <div class="mpg_menu_line"></div>

            <a href="#">
              <div class="mpg_menu_body">
                <h4>사업자등록번호</h4>
                <h5>123-45-67890</h5>
              </div>
            </a>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

{% include 'footer.html' %}
