{% include 'head.html' %}

<!-- 특정 style -->
<style>
  body{
    background-color: #fff;
  }
</style>
<!-- 특정 style end-->


<!-- head -->
<div class="white_head">
  <div class="global_back">
    <a href = "/contact">
      <img src="../../static/images/global/top_back.svg" alt="global_back">
    </a>
  </div>

  <h4 class="text_c">도움말</h4>
</div>


<!-- body -->
<div class="white_body">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- 공통 -->

        <div class="mpg_section">
          <div class="mpg_title">공통</div>

          <div class="mpg_menu">
            <a data-toggle="collapse" href="#general_01" role="button" aria-expanded="false" aria-controls="general_01" >
              <div class="mpg_menu_body">
                <h4>스쿨로드란 무엇인가요?</h4>
                <h5><img src="../../static/images/global/arrow_black_down.svg" alt="arrow_black_down"></h5>
              </div>
            </a>

            <div class="collapse mpg_menu_collapse" id="general_01">
              <p>스쿨로드(School Raod)는 <span class="color_p">우리 동네 등하원을 책임져 주실 수 있는 분을 빠르고 안전하게 찾으실 수 있도록 도와드리는 온라인 플랫폼</span>이에요.</p>
              <p>1) 복직을 앞두고, 급하게 아이 등하원 도와주실 분을 찾을 때</p>
              <p>2) 아이를 종일반에 맞겨두고 저녁 내내 어린이집에 두기 미안할 때</p>
            </div>
          </div>

          <div class="mpg_menu">
            <a data-toggle="collapse" href="#general_02" role="button" aria-expanded="false" aria-controls="general_02" >
              <div class="mpg_menu_body">
                <h4>어떻게 시작하나요?</h4>
                <h5><img src="../../static/images/global/arrow_black_down.svg" alt="arrow_black_down"></h5>
              </div>
            </a>

            <div class="collapse mpg_menu_collapse" id="general_02">
              <p>1) www.schoolroad.co.kr 에 접속합니다</p>
              <p>2) ‘회원가입'에서 email을 통해 가입진행합니다.</p>
              <p>3) email로 인증을 받고 로그인해서 가입 확인</p>
              <p>4-1) 돌봄 회원 : 등하원 도움이 필요한 부모 회원님께 제안을 보내보세요.</p>
              <p>4-2) 부모 회원 : 필요한 조건을 꼼꼼하게 등록하여 돌봄님을 찾아보세요.</p>
            </div>
          </div>

          <div class="mpg_menu">
            <a data-toggle="collapse" href="#general_03" role="button" aria-expanded="false" aria-controls="general_03" >
              <div class="mpg_menu_body">
                <h4>비밀번호를 잊어버렸어요</h4>
                <h5><img src="../../static/images/global/arrow_black_down.svg" alt="arrow_black_down"></h5>
              </div>
            </a>

            <div class="collapse mpg_menu_collapse" id="general_03">
              <p>스쿨로드 공식이메일로 문의 주세요.</p>
              <p><span class="color_p">momonim.korea@gmail.com</span></p>
              <p class="color_8">5영업일 이내에 답변을 드려요.</p>
            </div>
          </div>

          <div class="mpg_menu">
            <a data-toggle="collapse" href="#general_04" role="button" aria-expanded="false" aria-controls="general_04" >
              <div class="mpg_menu_body">
                <h4>돌봄님에게는 어떤 것들을 요청드릴 수 있나요?</h4>
                <h5><img src="../../static/images/global/arrow_black_down.svg" alt="arrow_black_down"></h5>
              </div
            </a>

            <div class="collapse mpg_menu_collapse" id="general_04">
              <p>스쿨로드 돌봄님들은 등하원을 도와주시는 분들이에요.</p>
              <p>돌봄님이 아이의 <span class="color_p">등하원 안전을 책임지는 데에 집중할 수 있도록 전문적인 가사를 요청하지 말아주세요 :)</span></p>
            </div>
          </div>

        </div>

        <!-- 부모회원 -->

        <div class="mpg_section">
          <div class="mpg_title">부모회원</div>

          <div class="mpg_menu">
            <a data-toggle="collapse" href="#parents_01" role="button" aria-expanded="false" aria-controls="parents_01" >
              <div class="mpg_menu_body">
                <h4>공고는 어떻게 등록하나요?</h4>
                <h5><img src="../../static/images/global/arrow_black_down.svg" alt="arrow_black_down"></h5>
              </div>
            </a>

            <div class="collapse mpg_menu_collapse" id="parents_01">
              <p>가입을 완료하신 뒤 리스트가 나타나는 페이지에서 공고를 등록하실 수 있어요.</p>
              <p>부모님과 아이가 누구인지, 언제 활동하기 원하는지를 등록 신청 시에 자세하게 알려주세요.</p>
              <p>공고 신청이 완료되면 조건에 맞는 돌봄님들이 연락을 주실거에요!</p>
              <p><span class="color_p">※ 상세하게 자기소개를 쓸수록, 내 후기가 많을수록, 돌봄 기간이 짧을수록 더 빨리 찾을 수 있습니다.</span></p>
            </div>
          </div>

          <div class="mpg_menu">
            <a data-toggle="collapse" href="#parents_02" role="button" aria-expanded="false" aria-controls="parents_02">
              <div class="mpg_menu_body">
                <h4>인터뷰는 어떻게 하나요?</h4>
                <h5><img src="../../static/images/global/arrow_black_down.svg" alt="arrow_black_down"></h5>
              </div>
            </a>

            <div class="collapse mpg_menu_collapse" id="parents_02">
              <p>돌봄 선생님들이 내가 올린 공고 신청서를 보시고 문자를 보내주신답니다. 인터뷰는 다음과 같이 선택진행이 가능해요! 기다리시는 돌봄 선생님을 위해 반드시 24시간 이내에 수락/거절 여부를 알려주세요 :)</p>
              <p><span class="color_p">※ 인터뷰 진행 방법</span></p>
              <p>1) 전화 인터뷰: 부모회원이 돌봄 선생님에게 전화하여, 근무 가능여부와 간단한 질문을 합니다.</p>
              <p>2) 대면 인터뷰: 돌봄 선생님과 장소를 약속하여, 간단하게 대면하여 근무조건과 성향을 확인합니다. (8천원~1만원 현장지급)</p>
              <p>3) 시범 채용: 돌봄 선생님과 함께 아이를 직접 등하원 길에 데려다 주며 아이와 잘 맞는지 확인합니다. (시급과 시간에 해당하는 비용을 현장지급)</p>
            </div>
          </div>

          <div class="mpg_menu">
            <a data-toggle="collapse" href="#parents_03" role="button" aria-expanded="false" aria-controls="parents_03">
              <div class="mpg_menu_body">
                <h4>채용은 어떻게 하나요?</h4>
                <h5><img src="../../static/images/global/arrow_black_down.svg" alt="arrow_black_down"></h5>
              </div>
            </a>

            <div class="collapse mpg_menu_collapse" id="parents_03">
              <p>부모회원과 시터회원이 보다 신뢰 깊고, 책임감 있는 관계가 되기 위해 <span class="color_p">"맘시터 활동 계약서"를 2장 작성하여 1장씩 보관</span>하면 좋습니다.</p>
              <p>활동 시간, 활동 내용, 활동비 지급 방식 등을 사전에 협의하여 문서로 작성해보세요.</p>

              <a class="grobal_btn" type="button" target="_blank" href="https://drive.google.com/file/d/1ghfnkL-7tvlarAvGwfEIXaaK42GeMqPG/view?usp=sharing';">
                <h4 class="grobal_btn_s_primary grobal_btn_round">근로 계약서 표준양식 다운로드</h4>
              </a>
            </div>
          </div>

          <div class="mpg_menu">
            <a data-toggle="collapse" href="#parents_04" role="button" aria-expanded="false" aria-controls="parents_04">
              <div class="mpg_menu_body">
                <h4>채용이 끝났어요. 따로 해야할 것이 있나요?</h4>
                <h5><img src="../../static/images/global/arrow_black_down.svg" alt="arrow_black_down"></h5>
              </div>
            </a>

            <div class="collapse mpg_menu_collapse" id="parents_04">
              <p>근로 계약서까지 돌봄 선생님과 작성이 끝났고 아이의 등하원을 맡기고 계시다면 스쿨로드에 접속하셔서 <span class="color_p">기존 공고의 상태를 채용완료 상태로 변경</span>해주세요.</p>
              <p>다른 돌봄 선생님들의 시간을 아낄 수 있는 방법이에요 :)</p>
            </div>
          </div>

        </div>

        <!-- 돌봄회원 -->

        <div class="mpg_section">
          <div class="mpg_title">돌봄회원</div>

          <div class="mpg_menu">
            <a data-toggle="collapse" href="#worker_01" role="button" aria-expanded="false" aria-controls="worker_01" >
              <div class="mpg_menu_body">
                <h4>어떻게 연락하나요?</h4>
                <h5><img src="../../static/images/global/arrow_black_down.svg" alt="arrow_black_down"></h5>
              </div>
            </a>

            <div class="collapse mpg_menu_collapse" id="worker_01">
              <p>등하원 돌봄 도움이 필요한 부모님들을 위해 <span class="color_p">"리스트 > 상세"</span>에서 연락처 확인하여 연락을 드려보세요!</p>
              <p>※ 문자로 연락시 <span class="color_p">"스쿨로드에서 보고 연락드렸어요"</span> 라고 살짝 알려주세요.</p>
            </div>
          </div>

          <div class="mpg_menu">
            <a data-toggle="collapse" href="#worker_02" role="button" aria-expanded="false" aria-controls="worker_02">
              <div class="mpg_menu_body">
                <h4>면접은 어떻게 진행하나요?</h4>
                <h5><img src="../../static/images/global/arrow_black_down.svg" alt="arrow_black_down"></h5>
              </div>
            </a>

            <div class="collapse mpg_menu_collapse" id="worker_02">
              <p>면접시 좋은 첫 인상을 위한 스쿨로드의 안내 사항은 다음과 같아요.</p>
              <p>1) 서류 준비하기 : <span class="color_p">신분증, 등본(또는 가족관계증명서), 건강진단서(보건소발급), 자격증이나 졸업증 등을 준비</span>해주세요. 면접시에 보여드리고 출근 첫 날 사본을 부모회원님에게 전달드립니다.</p>
              <p>2) 아이에 대한 질문 준비하기 : 급여나 근무조건도 중요하지만, 무엇보다 중요한 것은 <span class="color_p">아이와 잘 맞는지 확인할 수 있는 질문</span>을 던져보세요.</p>
              <p>3) 공고에 있었던 내용 숙지 : <span class="color_p">신청서에 있었던 근무조건, 업무내용 등을 숙지하고 면접에 참여하세요!</span> 면접시 상세 내용 협의 이후 채용이 결정되면 계약서를 작성한후 상호 보관합니다.</p>
              <p>4) 지각은 절대 금물! : <span class="color_p">첫 대면에서 지각을 한다면 좋은 인상을 드리기 어려워요.</span> 초행이라 조금 늦어질 것 같으면 미리 연락을 드려보세요!</p>
            </div>
          </div>

          <div class="mpg_menu">
            <a data-toggle="collapse" href="#worker_03" role="button" aria-expanded="false" aria-controls="worker_03">
              <div class="mpg_menu_body">
                <h4>일 시작할 때 어떤 것을 신경써야하나요?</h4>
                <h5><img src="../../static/images/global/arrow_black_down.svg" alt="arrow_black_down"></h5>
              </div>
            </a>

            <div class="collapse mpg_menu_collapse" id="worker_03">
              <p>상호 신뢰 관계의 시작을 위해 <span class="color_p">근로계약서를 2부 작성/날인 하여 상호 보관을 권장</span>드리고 있어요.</p>
              <p>부모회원님에게 신뢰를 드리기 위해서 건강검진서, 등의 서류를 드리는 것도 좋은 방법이에요!</p>
            </div>
          </div>

          <div class="mpg_menu">
            <a data-toggle="collapse" href="#worker_04" role="button" aria-expanded="false" aria-controls="worker_04">
              <div class="mpg_menu_body">
                <h4>"돌봄 회원" 인증은 어떻게 받나요?</h4>
                <h5><img src="../../static/images/global/arrow_black_down.svg" alt="arrow_black_down"></h5>
              </div>
            </a>

            <div class="collapse mpg_menu_collapse" id="worker_04">
              <p>정식 돌봄회원으로 활동하시기 위해서는 <span class="color_p">인증서류를 이메일로 직접 보내주셔야 합니다.</span> (오프라인 신청 불가능)</p>
              <p>- 인증서류 : 주민등록등본 사본 / 건강검진확인서류 사본 / 프로필 사진(얼굴이 드러난)</p>
              <p>- 인증서류를 이메일(<span class="color_p">momonim.korea@gmail.com</span>)로 보내주시면 7 영업일 이내로 확인해서 결과를 안내드립니다.</p>
            </div>
          </div>

          <div class="mpg_menu">
            <a data-toggle="collapse" href="#worker_05" role="button" aria-expanded="false" aria-controls="worker_05">
              <div class="mpg_menu_body">
                <h4>정식 돌봄 회원 인증시 혜택은 무엇인가요?</h4>
                <h5><img src="../../static/images/global/arrow_black_down.svg" alt="arrow_black_down"></h5>
              </div>
            </a>

            <div class="collapse mpg_menu_collapse" id="worker_05">
              <p>부모 회원님으로 부터 등하원 도움 신청이 들어왔을 때 <span class="color_p">직접 알림</span>을 보내드리고 있어요! (공개되지 않은 급한 요청건의 경우에도 정식 돌봄 선생님들에게 먼저 알림을 드려요)</p>
              <p class="color_8">베타 종료 이후 추후 공개 프로필을 통한 신청시 정식 돌봄회원 마크를 달아드릴 예정이에요.</p>
            </div>
          </div>



        </div>



      </div>
    </div>
  </div>
</div>

{% include 'footer.html' %}
