{% include 'head.html' %}

<!-- 특정 style -->
<style>
  body{
    background-color: #fff;
  }
</style>
<!-- 특정 style end-->


<!-- head -->
<div class="white_head">
  <div class="global_back">
    <img src="../../static/images/global/top_back.svg" alt="global_back">
  </div>

  <h4 class="text_c">도움말</h4>
</div>


<!-- body -->
<div class="white_body">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- 계정 -->

        <div class="mpg_section">
          <div class="mpg_title">계정</div>

          <div class="mpg_menu">
            <a data-toggle="collapse" href="#help01" role="button" aria-expanded="false" aria-controls="help01" >
              <div class="mpg_menu_body">
                <h4>회원탈퇴는 어떻게 하나요?</h4>
                <h5><img src="../../static/images/global/arrow_black_down.svg" alt="arrow_black_down"></h5>
              </div>
            </a>

            <div class="collapse mpg_menu_collapse" id="help01">
              현재 탈퇴는 문의 이메일을 통해 이루어지고 있습니다.<br/>
              momo@gmail.com으로 <span class="color_p">가입하신 이메일계정으로 성함,전화번호</span>를 보내주세요
            </div>
          </div>

        </div>



      </div>
    </div>
  </div>
</div>

{% include 'footer.html' %}
