{% include 'head.html' %}

<!-- 특정 style -->
<style>
  body{
    background-color: #fff;
  }
</style>
<!-- 특정 style end-->


<!-- head -->
<div class="white_head">
  <div class="global_back">
    <a href = "/">
      <img src="../../static/images/global/top_back.svg" alt="global_back">
    </a>
  </div>

  <h4 class="text_c">회원정보</h4>
</div>


<!-- body -->
<div class="white_body">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- 성함,이메일 -->

        <div class="mpg_section">
          <div class="mpg_title">계정정보</div>

          <div class="mpg_menu">
            <a href="#">
              <div class="mpg_menu_body">
                <h4>성함</h4>
                <h5>{{ user.username }}</h5>
              </div>
            </a>

            <div class="mpg_menu_line"></div>

            <a href="#">
              <div class="mpg_menu_body">
                <h4>이메일</h4>
                <h5>{{ user.email }}</h5>
              </div>
            </a>
          </div>
        </div>

        <!-- 비밀번호 변경 -->

        <div class="mpg_section">
          <div class="mpg_menu">
            <a href="accounts/password/change/">
              <div class="mpg_menu_body">
                <h4>비밀번호 변경</h4>
                <h5><img src="../../static/images/global/arrow_black_right.svg" alt="arrow_black_right"></h5>
              </div>
            </a>

          </div>
        </div>

        <!-- 로그아웃 -->

        <div class="mpg_section">
          <div class="mpg_menu">
            <a href="user/logout">
              <div class="mpg_menu_body">
                <h4>로그아웃</h4>
                <h5><img src="../../static/images/global/arrow_black_right.svg" alt="arrow_black_right"></h5>
              </div>
            </a>

          </div>
        </div>


      </div>
    </div>
  </div>
</div>

{% include 'footer.html' %}
