{% include 'head.html' %}

<div class="regist_head">
  <div class="global_close">
    <img src="static/images/global/top_x.svg" alt="global_close">
  </div>

  <h4>등록하기</h4>

</div>

<div class="regist_body">
  <div class="container">
    <!-- step -->

    <div class="row">
      <div class="col-3">
        <div class="regist_step_line_p"></div>
      </div>

      <div class="col-3">
        <div class="regist_step_line_p"></div>
        <div class="regist_step_line_text">2/4</div>
      </div>

      <div class="col-3">
        <div class="regist_step_line_pd"></div>
      </div>

      <div class="col-3">
        <div class="regist_step_line_pd"></div>
      </div>
    </div>

    <!-- body -->

    <!-- 지역 -->
    <div class="regist_list">
      <div class="row">
        <div class="col-12">
          <div>지역</div>
        </div>
      </div>

      <div class="selectinput">
        <div class="row">
          <div class="col-4">
            <h4 class="color_8">시/도</h4>
          </div>

          <div class="col-8">
            <select>
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>

            <div class="selectinput_arrow">
              <img src="static/images/global/dropdown_arrow.svg" alt="global_close">
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- 연락처 -->
    <div class="regist_list">
      <div class="row">
        <div class="col-12">
          <div>연락처</div>
          <div class="numberinput">
            <input type="number" pattern="\d*" placeholder="연락받을 전화번호를 기입하세요">
          </div>

        </div>
      </div>
    </div>


  </div>

</div>

<div class="bottombtn">
  <button class="bottombtn_back">
    <h4>이전으로</h4>
  </button>

  <button class="bottombtn_p_o">
    <h4>다음</h4>
  </button>

  <!-- <button class="bottombtn_p">
    <h4>다음</h4>
  </button> -->
</div>


{% include 'footer.html' %}
