{% load static %}
<script src="{% static 'js/job_detail_vue.js' %}"></script>


<script>

    $(document).ready(function() {
        var jobDetail = {{ data|safe }}
        app.job = jobDetail
        app.job.payFormat = numberWithCommas(app.job.pay)

        // 스크롤 리스너 연결
        initScrollListener()


    });


    // scroll listener
    function initScrollListener() {

        var windowHeight = $(window).height();
        $(window).scroll(function () {

            var documentHeight = $(document).height();
            var scrollHeight = documentHeight - windowHeight

            // 스크롤 길이가 54px보다 크면 floating 버튼의 show/hide 동작을 추가한다.
            if (scrollHeight > 54) {

               var scrollY = $(document).scrollTop();
               if (scrollY > (scrollHeight - 54)) {
                   $("#btnFloating").hide()
               }
               else {
                   $("#btnFloating").show()
               }

            }
            else {
               $("#btnFloating").hide()
            }
        });

    }



</script>
