{% include 'head.html' %}

<div class="grobal_head">
  <div class="global_back">
    <img src="../../static/images/global/top_back.svg" alt="global_back">
  </div>

  <h4 class="text_c">등/하교</h4>
</div>

<a href="#" id="modal_open">
  <div class="grobal_radiusbottombtn">
    <div class="detail_contact">
      <img src="../../static/images/detail/detail_phone.svg" alt="detail_phone">
      <h5>연락하기</h5>
    </div>

  </div>
</a>

<!-- 지금 하단에 modal 둘다 뜨는 데, 작업할 때 하나 지우고 작업하면 좋음 -->

<!-- 전화번호입력 modal -->
<div class="detail_call_body modal_bottom">
  <div class="container">
    <div class="row">
      <div class="col-12 modal_title">
        전화번호 입력
      </div>

      <div class="col-12">
        <div>연락처</div>

        <div class="textinput">
          <input type="text" id="" placeholder="휴대폰번호를 입력하세요">
        </div>
      </div>

    </div>
  </div>

  <div class="modal_btn">
    <button class="bottombtn_p_o">
      <h4>다음</h4>
    </button>

  </div>
</div>

<!-- 연락처 modal -->
<div class="detail_call_body modal_bottom">
  <div class="container">
    <div class="row">
      <div class="col-12 modal_title">
        연락하기
      </div>

      <div class="col-12">
        <div class="detail_info">
          <div class="detail_info_title">연락가능시간</div>
          <h5>10:30 ~ 18:00</h5>
        </div>

        <div class="detail_info detail_call_caution">
          ※ 타인에게 전화해서 가나다라바사
        </div>
      </div>

    </div>
  </div>

  <div class="modal_btn">
    <button class="bottombtn_p">
      <h4>010-1**4-1**4 연락하기</h4>
    </button>
  </div>
</div>

<div class="modal_background"></div>

<!-- body -->

<div id="content" class="grobal_body">
  <!-- title -->
  <div class="detail_title">
    <h4>[[ job.user.username ]] 님</h4>
    <div class="detail_title_want">등하원 스쿨버스 도우미 구합니다</div>

  </div>

  <!-- start -->

  <div class="container">
    <!-- 시급,아이 -->
    <div class="row">
      <div class="col-6">
        <div class="grobal_box">
          <div class="detail_icontitle">
            <img src="../../static/images/detail/detail_won.svg" alt="detail_won">
            <h4>[[ job.pay ]] 원</h4>
            <h5>희망시급</h5>
          </div>

        </div>
      </div>

      <div class="col-6">
        <div class="grobal_box">
          <div class="detail_icontitle">
            <img src="../../static/images/detail/detail_children.svg" alt="detail_children">
            <h4>[[ job.child_age ]]</h4>
            <h5>아이 나이</h5>
          </div>

        </div>
      </div>

    </div>

    <!-- 상세정보 -->
    <div class="row">
      <div class="col-12">
        <div class="grobal_box">
          <div class="detail_contents">
            <div class="color_8">상세정보</div>
            <h5>
              [[ job.description ]]
            </h5>

          </div>

        </div>
      </div>

    </div>

    <!-- 근무정보 -->
    <div class="row">
      <div class="col-12">
        <div class="grobal_box">
          <div class="detail_info">
            <div class="detail_info_title">근무시간</div>
            <h5>[[ job.working_time ]]</h5>
          </div>

          <div class="detail_info">
            <div class="detail_info_title">근무위치</div>
            <h5>[[ job.working_location ]]</h5>
          </div>

          <div class="detail_info">
            <div class="detail_info_title">근무시작일</div>
            <h5>[[ job.working_date ]]</h5>
          </div>

        </div>
      </div>

    </div>

    <!-- 근무요일 -->
    <div class="row">
      <div class="col-12">
        <div class="grobal_box">
          <div class="detail_date">
            <div class="color_8">근무 요일</div>

            <div>
              <h5 class="detail_date_g">일</h5>
              <h5 class="detail_date_p">월</h5>
              <h5 class="detail_date_p">화</h5>
              <h5 class="detail_date_p">수</h5>
              <h5 class="detail_date_p">목</h5>
              <h5 class="detail_date_p">금</h5>
              <h5 class="detail_date_g">토</h5>
            </div>

          </div>

        </div>
      </div>

    </div>

    <!-- ect -->
    <div class="row bottom_btn_end">
      <div class="col-12">
        <div class="grobal_box">
          <div class="detail_info">
            <div class="detail_info_title">희망 연령대</div>
            <h5>20 ~ 30대</h5>
          </div>

          <div class="detail_info">
            <div class="detail_info_title">희망 성별</div>
            <h5>[[ job.worker_sex ]]</h5>
          </div>

          <div class="detail_info">
            <div class="detail_info_title">차량소지</div>
            <h5>[[ job.car_preference ]]</h5>
          </div>

          <div class="detail_info">
            <div class="detail_info_title">제출서류</div>
            <h5>[[ job.documents ]]</h5>
          </div>

        </div>
      </div>

    </div>

    <!-- 연락하기 -->
    <div class="row">
      <div class="col-12">
        <div class="grobal_btnbox">
          <div class="detail_contact">
            <img src="../../static/images/detail/detail_phone.svg" alt="detail_phone">
            <h5>연락하기</h5>
          </div>
        </div>

      </div>
    </div>

  </div>


</div>

{% include 'detail/detail_script.html' %}

{% include 'footer.html' %}
