body{
  font-family: 'NotoSansKR Regular';
  font-size: 13px;
  background-color: #fff;
  color: #333;
  line-height: normal;

  word-break: break-all;
}

h1{
  font-size: 36px;
  font-weight: normal;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

h2{
  font-size: 30px;
  font-weight: normal;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

h3{
  font-size: 24px;
  font-weight: normal;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

h4{
  font-size: 16px;
  font-weight: normal;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

h5{
  font-size: 13px;
  font-weight: normal;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

h6{
  font-size: 10px;
  font-weight: normal;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

b{
  font-family: 'NotoSansKR Bold';
}

a{
  color: #ce3426;
}

label {
    margin: 0px;
}

input{
  width: 100%;
}

input[type="text"]{
  margin-top: 12px;
  padding-bottom: 3px;
  font-size: 16px;

  border-bottom: solid 2px #eee;

  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input[type="text"]:focus{
  border-bottom: 2px solid #005cef;
}


::placeholder { /* Firefox, Chrome, Opera */
    color: #ccc;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ccc;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #ccc;
}

::-moz-selection {
  background-color: #e5eefd;
  color: #333;
}

::selection {
  background-color: #e5eefd;
  color: #333;
}

/* global */

.radiobtn_l input[type=radio]{
  display: none;
}

.radiobtn_l input[type=radio] + label {
  width: 100%;
  margin-top: 12px;
  padding: 7px 12px 8px 12px;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  border: solid 2px #eee;
  color: #888;
  font-size: 16px;
}

.radiobtn_l input[type=radio]:checked + label {
  border: solid 2px #005cef;
  color: #005cef;
}

.position_r{
  position: relative;
}

.text_c{
  text-align: center;
}

.color_w{
  color: #fff;
}

.color_3{
  color: #333;
}

.color_8{
  color: #888;
}

.color_p{
  color: #ce3426;
}

.mar_10{
  margin-top: 10px;
}

.mar_15{
  margin-top: 10px;
}

.mar_30{
  margin-top: 30px;
}

.mar_50{
  margin-top: 50px;
}

.mar_100{
  margin-top: 100px;
}

.mar_150{
  margin-top: 150px;
}

.inline_b{
  display:inline-block;
  zoom:1;
  * display:inline;
}

.a_under{
  text-decoration: underline;
}

.font_t{
  font-family: 'NotoSansKR Thin';
}

.display_n{
  display: none;
}

.global_close{
  position: absolute;
  top: 17px;
  right: 15px;
  z-index: 99;
}

.global_close img{
  width: 15px;
  height: 15px;
}



/* regist */

.regist_head{
  position: fixed;
  top: 0px;
  z-index: 100;

  width: 100%;
  padding: 15px;
  background-color: #fff;
}

.regist_head h4{
  font-family: 'NotoSansKR Bold';
  text-align: center;
}

.regist_step_line_p{
  width: 100%;
  height: 3px;
  background-color: #005cef;
  border-radius: 2px;
}

.regist_step_line_pd{
  width: 100%;
  height: 3px;
  background-color: #e5eefd;
  border-radius: 2px;
}

.regist_step_line_text{
  margin-top: 4px;
  text-align: center;
  color: #005cef;
}

.regist_body{
  margin: 50px 0px 0px 0px;
}

.regist_list .row:first-child {
  margin-top: 25px;
}

.regist_list .row{
  margin-top: 40px;
}

.regist_emoji{
  position: relative;
  top: -1px;
  padding-right: 4px;

  font-size: 18px;
}
