@font-face{
    font-family: 'NotoSansKR Thin';
    font-style: normal;
    font-weight: 100;
    src: local('Noto Sans Thin');
    src: url('https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/notosans/NotoSans-Thin.eot');
    src: url('https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/notosans/NotoSans-Thin.eot?#iefix') format('embedded-opentype'),
    url('https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/notosans/NotoSans-Thin.woff2') format('woff2'),
    url('https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/notosans/NotoSans-Thin.woff') format('woff'),
    url('https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/notosans/NotoSans-Thin.otf') format('truetype');
}

@font-face{
    font-family: 'NotoSansKR Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular');
    src: url('https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/notosans/NotoSans-Regular.eot');
    src: url('https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/notosans/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/notosans/NotoSans-Regular.woff2') format('woff2'),
    url('https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/notosans/NotoSans-Regular.woff') format('woff'),
    url('https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/notosans/NotoSans-Regular.otf') format('truetype');
}

@font-face{
    font-family: 'NotoSansKR Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold');
    src: url('https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/notosans/NotoSans-Bold.eot');
    src: url('https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/notosans/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/notosans/NotoSans-Bold.woff2') format('woff2'),
    url('https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/notosans/NotoSans-Bold.woff') format('woff'),
    url('https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/notosans/NotoSans-Bold.otf') format('truetype');
}