body{
    font-family: 'NotoSansKR Regular';
    font-size: 14px;
    background-color: #fff;
    color: #333;
    line-height: normal;

    word-break: break-all;
}

h1{
    font-size: 36px;
    font-weight: normal;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h2{
    font-size: 30px;
    font-weight: normal;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h3{
    font-size: 24px;
    font-weight: normal;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h4{
    font-size: 18px;
    font-weight: normal;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h5{
    font-size: 14px;
    font-weight: normal;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h6{
    font-size: 12px;
    font-weight: normal;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

b{
    font-family: 'NotoSansKR Bold';
}

a{
    color: #ce3426;
}

::-moz-selection {
    background-color: #ff8a80;
    color: #fff;
}

::selection {
    background-color: #ff8a80;
    color: #fff;
}


/* global */

.position_r{
    position: relative;
}

.text_c{
    text-align: center;
}

.color_w{
    color: #fff;
}

.color_3{
    color: #333;
}

.color_8{
    color: #888;
}

.color_p{
    color: #ce3426;
}

.mar_10{
    margin-top: 10px;
}

.mar_15{
    margin-top: 10px;
}

.mar_30{
    margin-top: 30px;
}

.mar_50{
    margin-top: 50px;
}

.mar_100{
    margin-top: 100px;
}

.mar_150{
    margin-top: 150px;
}

.inline_b{
    display:inline-block;
    zoom:1;
    * display:inline;
}

.a_under{
    text-decoration: underline;
}

.font_t{
    font-family: 'NotoSansKR Thin';
}

.display_n{
    display: none;
}