
{% include 'head.html' %}

<!-- 특정 style -->
<style>
  body{
    background-color: #fff;
  }
</style>
<!-- 특정 style end-->


<!-- head -->
<div class="user_head">
  <h4 class="text_c">이메일 확인</h4>
</div>


<!-- content -->
<div class="user_content">
  <div class="home_emailimg">
    <img src="../../../static/images/user/img_emailcheck.svg" alt="img_emailcheck">
  </div>

  <h2 class="home_title">
    <a href="mailto:{{ email }}">{{ email }}</a>
  </h2>

  <h4 class="color_8 text_c">
    아래 버튼을 클릭하시면 회원가입이 완료됩니다 </br>

    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
    {% csrf_token %}
        <button type="submit">시작하기(인증)</button>
    </form>
  </h4>

</div>


<!-- bottom -->

<h4 class="home_bottom">
  <span class="color_8">이메일이 오지 않았나요?</span><a href="#">재전송하기</a>
</h4>


{% include 'footer.html' %}
