{% include 'head.html' %}

<!-- 특정 style -->
<style>
  body{
    background-color: #fff;
  }
</style>
<!-- 특정 style end-->


<!-- head -->
<div class="user_head">
  <h4 class="text_c">이메일 인증완료</h4>
</div>


<!-- content -->
<div class="user_content">
  <div class="home_emailimg">
    <img src="../../static/images/user/img_emailaccount.svg" alt="img_emailaccount">
  </div>

  <h2 class="home_title">인증완료</h2>

  <h4 class="color_8 text_c">
    momo@gmail.com<br/>으로 인증 되었습니다
  </h4>

</div>


<!-- bottom -->

<div class="bottombtn">
  <button class="bottombtn_p" type="button" name="간편 회원가입">
      <h4>서비스 시작하기</h4>
  </button>

</div>



{% include 'footer.html' %}
