{% include 'head.html' %}

<!-- 특정 style -->
<style>
  body{
    background-color: #fff;
  }
</style>
<!-- 특정 style end-->


<!-- head -->
<div class="user_head">
  <div class="global_back">
    <img src="../../static/images/global/top_back.svg" alt="global_back">
  </div>

  <h4 class="text_c">로그인</h4>
</div>


<!-- content -->
<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}


  <div class="user_content">
    <div class="home_list">
      <div class="row">
        <div class="col-12">
          <div>이메일</div>
          <div class="textinput">
              <input type="email" id="signup_email" name="login" placeholder="이메일 주소" autofocus="autofocus"  v-model="title">
          </div>
        </div>
      </div>
    </div>

    <div class="home_list">
      <div class="row">
        <div class="col-12">
          <div>비밀번호</div>
          <div class="textinput">
              <input type="password" id="signup_password" name="password" placeholder="숫자와 특수문자 포함" v-model="title">
          </div>
        </div>

      </div>
    </div>
    <button class="primaryAction" type="submit">
      <div class="home_list_btn">
        <div class="home_btn grobal_btn">
          <h4 class="grobal_btn_primary grobal_btn_round">로그인</h4>
        </div>
    </button>

      <a href="/user/passreset">
        <h4 class="text_c home_login">비밀번호 찾기</h4>
      </a>
    </div>


  <!-- bottom -->

  <h4 class="home_bottom">
    <span class="color_8">아직 계정이 없으세요?</span><a href="/user/signup">회원가입하기</a>
  </h4>
</form>

{% include 'footer.html' %}
