{% include 'head.html' %}

<!-- 특정 style -->
<style>
  body{
    background-color: #fff;
  }
</style>
<!-- 특정 style end-->


<!-- head -->
<div class="user_head">
  <h4 class="text_c">이메일 확인</h4>
</div>


<!-- content -->
<div class="user_content">
  <div class="home_emailimg">
    <img src="../../../../static/images/user/img_emailcheck.svg" alt="img_emailcheck">
  </div>

  <h2 class="home_title">비밀번호 초기화 메일이 전송되었습니다.</h2>

  <h4 class="color_8 text_c">
    몇 분 후에도 메일이 오지 않으면 다시 시도해주세요.<br/>
    {% if user.is_authenticated %}
      (리마인더 : 지금은 {{ user.email }} 로 로그인 되어있어요)
    {% endif %}

  </h4>

</div>


<!-- bottom -->

<h4 class="home_bottom">
  <span class="color_8">이메일이 오지 않았나요?</span><a href="#">재전송하기</a>
</h4>


{% include 'footer.html' %}
