{% include 'head.html' %}

<!-- 특정 style -->
<style>
  body{
    background-color: #fff;
  }
</style>
<!-- 특정 style end-->


<!-- head -->
<div class="user_head">
  <div class="global_back">
    <img src="../../static/images/global/top_back.svg" alt="global_back">
  </div>

  <h4 class="text_c">비밀번호 찾기</h4>
</div>


<!-- content -->
<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
  {% csrf_token %}
  <div class="user_content">
    <div class="home_list">
      <div class="row">
        <div class="col-12">
          <div>이메일</div>
          <div class="textinput">
              <input type="email" id="signup_email" name = "email" placeholder="가입한 이메일 주소를 입력해주세요" v-model="title">
          </div>
        </div>

      </div>
    </div>

    <!-- <input type="submit" value="이메일로 전송" /> -->
    <button type="submit">
      <div class="home_list_btn">
          <div class="grobal_btn">
            <h4 class="grobal_btn_primary grobal_btn_round">이메일로 전송</h4>
          </div>
      </div>
    </button>
  </div>
</form>




{% include 'footer.html' %}
