{% include 'head.html' %}

<!-- 특정 style -->
<style>
  body{
    background-color: #fff;
  }
</style>
<!-- 특정 style end-->


<!-- head -->
<div class="user_head">
  <div class="global_back">
    <img src="../../static/images/global/top_back.svg" alt="global_back">
  </div>

  <h4 class="text_c">비밀번호 변경 </h4>
</div>


<!-- content http://127.0.0.1:8000/accounts/password/change/ -->

<form class="passwordChange" id="passwordChange_form" method="post" accept-charset="utf-8" action= "{% url 'account_signup' %}" >
  {% csrf_token %}
  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <div class="signup_body">
    <div class="container">
      <div class="home_list">
        <div class="row">
          <div class="col-12">
            <div>성함</div>
              <div class="textinput">
                  <input type="text" id="username" name="username" placeholder="성함을 입력해주세요" v-model="username">
              </div>
          </div>
        </div>
      </div>

      <div class="home_list">
        <div class="row">
          <div class="col-12">
            <div>이메일</div>
              <div class="textinput">
                  <input type="email" id="email" name="email" placeholder="이메일 주소를 입력해주세요" v-model="email">
              </div>
          </div>
        </div>
      </div>

      <div class="home_list">
        <div class="row">
          <div class="col-12">
            <div>비밀번호</div>
              <div class="textinput">
                  <input type="password" id="password1" name="password1" placeholder="숫자와 특수문자를 포함해주세요" v-model="password1">
              </div>
          </div>
        </div>
      </div>

      <div class="home_list">
        <div class="row">
          <div class="col-12">
            <div>비밀번호 확인</div>
              <div class="textinput">
                  <input type="password" id="password2" name="password2" placeholder="한번 더 입력해주세요" v-model="password2">
              </div>
          </div>
        </div>
      </div>

      <button type="submit">
        <div class="home_list_btn">
            <div class="grobal_btn">
                <h4 class="grobal_btn_primary grobal_btn_round">회원가입 완료</h4>
            </div>
        </div>
      </button>
    </div>
  </div>
</form>

{% include 'footer.html' %}
