{% include 'head.html' %}

<!-- 특정 style -->
<style>
  body{
    background-color: #fff;
  }
</style>
<!-- 특정 style end-->


<!-- head -->
<div class="user_head">
  <div class="global_back">
    <img src="../../static/images/global/top_back.svg" alt="global_back">
  </div>

  <h4 class="text_c">회원가입</h4>
</div>


<!-- content -->
<div class="signup_body">
  <div class="container">

    <div class="home_list">
      <div class="row">
        <div class="col-12">
          <div>성함</div>
          <div class="textinput">
              <input type="text" id="signup_name" placeholder="성함을 입력해주세요" v-model="title">
          </div>
        </div>

      </div>
    </div>

    <div class="home_list">
      <div class="row">
        <div class="col-12">
          <div>이메일</div>
          <div class="textinput">
              <input type="email" id="signup_email" placeholder="이메일 주소를 입력해주세요" v-model="title">
          </div>
        </div>

      </div>
    </div>

    <div class="home_list">
      <div class="row">
        <div class="col-12">
          <div>비밀번호</div>
          <div class="textinput">
              <input type="password" id="signup_password" placeholder="숫자와 특수문자 포함" v-model="title">
          </div>
        </div>

      </div>
    </div>

    <div class="home_list">
      <div class="row">
        <div class="col-12">
          <div>비밀번호 확인</div>
          <div class="textinput">
              <input type="password" id="signup_repassword" placeholder="한번 더 입력해주세요" v-model="title">
          </div>
        </div>

      </div>
    </div>

    <div class="home_list_btn">
      <a href="#">
        <div class="grobal_btn">
          <h4 class="grobal_btn_primary grobal_btn_round">회원가입 완료</h4>
        </div>
      </a>
    </div>

  </div>
</div>


{% include 'footer.html' %}
