{% include 'head.html' %}

<div class="regist_head">
  <div class="global_close">
    <img src="../../static/images/global/top_x.svg" alt="global_close">
  </div>

  <h4>등록하기</h4>

</div>

<div class="regist_body">
  <div class="container">
    <!-- step -->

    <div class="row">
      <div class="col-3">
        <div class="regist_step_line_p"></div>
      </div>

      <div class="col-3">
        <div class="regist_step_line_p"></div>
      </div>

      <div class="col-3">
        <div class="regist_step_line_p"></div>
        <div class="regist_step_line_text">3/4</div>
      </div>

      <div class="col-3">
        <div class="regist_step_line_pd"></div>
      </div>
    </div>

    <!-- body -->

    <!-- 선호 성별 -->
    <div class="regist_list">
      <div class="row">
        <div class="col-12">
          선호 성별
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <div class="radiobtn_l">
            <input type="radio" id="regist_sex01" name="regist_sex">
            <label for="regist_sex01"><span class="regist_emoji">&#x1F469;</span>여성</label>

          </div>
        </div>

        <div class="col-4">
          <div class="radiobtn_l">
            <input type="radio" id="regist_sex02" name="regist_sex">
            <label for="regist_sex02"><span class="regist_emoji">&#x1F468;</span>남성</label>

          </div>
        </div>

        <div class="col-4">
          <div class="radiobtn_l">
            <input type="radio" id="regist_sex03" name="regist_sex">
            <label for="regist_sex03"><span class="regist_emoji">&#x1F44C;</span>상관없음</label>

          </div>
        </div>

      </div>
    </div>

    <!-- 선호 연령대 -->
    <div class="regist_list">
      <div class="row">
        <div class="col-12">
          선호 연령대
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          드레그인데 이따 작업함
        </div>

      </div>
    </div>

    <!-- 차량 소지 여부 -->
    <div class="regist_list">
      <div class="row">
        <div class="col-12">
          차량 소지 여부
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <div class="radiobtn_l">
            <input type="radio" id="regist_vehicle01" name="regist_vehicle">
            <label for="regist_vehicle01"><span class="regist_emoji">&#x1F44D;</span>선호</label>

          </div>
        </div>

        <div class="col-4">
          <div class="radiobtn_l">
            <input type="radio" id="regist_vehicle02" name="regist_vehicle">
            <label for="regist_vehicle02"><span class="regist_emoji">&#x1F697;</span>필수</label>

          </div>
        </div>

        <div class="col-4">
          <div class="radiobtn_l">
            <input type="radio" id="regist_vehicle03" name="regist_vehicle">
            <label for="regist_vehicle03"><span class="regist_emoji">&#x1F6AB;</span>필요없음</label>

          </div>
        </div>

      </div>
    </div>

    <!-- 희망 제출서류 -->
    <div class="regist_list">
      <div class="row">
        <div class="col-12">
          희망 제출서류
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="checkboxbtn_l">
            <input type="checkbox" id="regist_document01" name="regist_document">
            <label for="regist_document01">
              <div>
                주민등록등본
                <svg class="regist_documentcheck" xmlns="http://www.w3.org/2000/svg" width="25" height="22" viewBox="0 0 25 22">
                    <path fill="#888" fill-rule="nonzero" d="M21.876 0L25 3.158 7.48 22 0 12.476 3.366 9.6l4.388 5.587z"/>
                </svg>
              </div>
            </label>

          </div>
        </div>

        <div class="col-12">
          <div class="checkboxbtn_l">
            <input type="checkbox" id="regist_document02" name="regist_document">
            <label for="regist_document02">
              <div>
                신분증 사본
                <svg class="regist_documentcheck" xmlns="http://www.w3.org/2000/svg" width="25" height="22" viewBox="0 0 25 22">
                    <path fill="#888" fill-rule="nonzero" d="M21.876 0L25 3.158 7.48 22 0 12.476 3.366 9.6l4.388 5.587z"/>
                </svg>
              </div>
            </label>

          </div>
        </div>



      </div>
    </div>


  </div>

</div>

<div class="bottombtn">
  <button class="bottombtn_back">
    <h4>이전으로</h4>
  </button>

  <button class="bottombtn_p_o">
    <h4>다음</h4>
  </button>

  <!-- <button class="bottombtn_p">
    <h4>다음</h4>
  </button> -->
</div>


{% include 'footer.html' %}
