{% include 'head.html' %}

<div class="regist_head">
  <div class="global_close">
    <img src="static/images/global/top_x.svg" alt="global_close">
  </div>

  <h4>등록하기</h4>

</div>

<div class="regist_body">
  <div class="container">
    <!-- step -->

    <div class="row">
      <div class="col-3">
        <div class="regist_step_line_p"></div>
      </div>

      <div class="col-3">
        <div class="regist_step_line_p"></div>
      </div>

      <div class="col-3">
        <div class="regist_step_line_p"></div>
      </div>

      <div class="col-3">
        <div class="regist_step_line_p"></div>
        <div class="regist_step_line_text">4/4</div>
      </div>
    </div>

    <!-- body -->

    <!-- 상세정보 -->
    <div class="regist_list">
      <div class="row">
        <div class="col-12">
          상세정보
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="textareainput">
            <textarea rows="6" placeholder="당부드리고 싶은 내용을 기입하세요.&#13;&#10;&#13;&#10;ex) 시간 약속 잘 지켜주시고 성실하신 분이면 연령 무관하게 지원 가능합니다."></textarea>
          </div>
        </div>

      </div>
      
    </div>


  </div>

</div>

<div class="bottombtn">
  <button class="bottombtn_back">
    <h4>이전으로</h4>
  </button>

  <button class="bottombtn_p_o">
    <h4>다음</h4>
  </button>

  <!-- <button class="bottombtn_p">
    <h4>다음</h4>
  </button> -->
</div>


{% include 'footer.html' %}
