body{
  font-family: 'NotoSansKR Regular';
  font-size: 13px;
  background-color: #f5f5f5;
  color: #333;
  line-height: normal;

  word-break: break-all;
}

h1{
  font-size: 36px;
  font-weight: normal;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

h2{
  font-size: 21px;
  font-weight: normal;
  letter-spacing: -0.5px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

h3{
  font-size: 18px;
  font-weight: normal;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

h4{
  font-size: 16px;
  font-weight: normal;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

h5{
  font-size: 13px;
  font-weight: normal;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

h6{
  font-size: 10px;
  font-weight: normal;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

b{
  font-family: 'NotoSansKR Bold';
}

a{
  color: #005cef;
}

a:link, a:visited {
  color: #005cef;
  text-decoration: none;
  cursor: auto;
}

a:link:active, a:visited:active {
  color: #005cef;
}

::placeholder { /* Firefox, Chrome, Opera */
    color: #ccc;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ccc;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #ccc;
}

::-moz-selection {
  background-color: #e5eefd;
  color: #333;
}

::selection {
  background-color: #e5eefd;
  color: #333;
}

label {
  margin: 0px;
}

input{
  width: 100%;
}

input::placeholder{
  color: #ccc;
}

button{
  width: 100%;

  background-color: transparent;
  cursor: pointer;
  outline: none;
}

/* input_select */

.selectinput{
  position: relative;
  margin-top: 12px;
}

.selectinput h4{
  margin-top: 4px;
}

.selectinput_arrow{
  position: absolute;
  top: 12px;
  right: 12px;
}

.selectinput_arrow img{
  width: 11px;
}

.selectinput select{
  width: 100%;
  padding-bottom: 3px;
  font-size: 16px;

  border-radius: 0px;
  border-bottom: solid 2px #eee;

  background-color: #fff;

  -webkit-transition: 0.3s;
  transition: 0.3s;

  color: #333;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.selectinput select:invalid{
  color: #888;
}

.selectinput select:focus{
  border-bottom: 2px solid #005cef;
}

.selectinput select::-ms-expand {
    display: none;
}

@media screen and (min-width:0\0) {
    .selectinput select {
        background:none\9;
        padding-bottom: 3px;\9;
    }
}

.selectinput_error select{
  border-bottom: solid 2px #e61b22 !important;
}


/* input_text */

.textareainput{
  position: relative;
  margin-top: 12px;
}

.textareainput textarea{
  width: 100%;
  padding: 9px 12px 8px 12px;

  color: #333;
  font-size: 13px;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: solid 2px #eee;

  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.textareainput textarea:focus {
  border: 2px solid #005cef;
}

.textareainput_error textarea{
  border: solid 2px #e61b22;
}

.textinput{
  position: relative;
  margin-top: 12px;
}

.textinput input[type="text"]{
  padding-bottom: 3px;
  font-size: 16px;

  border-radius: 0px;
  border-bottom: solid 2px #eee;

  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.textinput input[type="text"]:focus{
  border-bottom: 2px solid #005cef;
}

.textinput input[type="email"]{
  padding-bottom: 3px;
  font-size: 16px;

  border-radius: 0px;
  border-bottom: solid 2px #eee;

  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.textinput input[type="email"]:focus{
  border-bottom: 2px solid #005cef;
}

.textinput input[type="password"]{
  padding-bottom: 3px;
  font-size: 16px;

  border-radius: 0px;
  border-bottom: solid 2px #eee;

  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.textinput input[type="password"]:focus{
  border-bottom: 2px solid #005cef;
}

/* input_number */

.numberinput{
  position: relative;
  margin-top: 12px;
}

.numberinput input[type="number"]{
  padding-bottom: 3px;
  font-size: 16px;

  border-radius: 0px;
  border-bottom: solid 2px #eee;

  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.numberinput input[type="number"]:focus{
  border-bottom: 2px solid #005cef;
}

/* input_date */

.datebtn_l{
  position: relative;
  margin-top: 12px;
}

.datebtn_l input[type=date]{
  width: 100%;
  padding: 9px 12px 8px 12px;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  border: solid 2px #eee;
  color: #888;
  background-color: #fff;
  font-size: 13px;
}

.datebtn_l input[type=date]::before{
  content: attr(data-placeholder);
  width: 100%;
}

.datebtn_l input[type="date"]:focus::before, input[type="date"]:valid::before{
  display: none
}

.datebtn_l input[type="date"]:valid{
  border: solid 2px #005cef !important;
  color: #005cef !important;
}


/* input_time */

.timeinput{
  position: relative;
  margin-top: 12px;
}

.timeinput input[type="time"]{
  padding-bottom: 3px;
  font-size: 16px;

  border-radius: 0px;
  border-bottom: solid 2px #eee;

  -webkit-transition: 0.3s;
  transition: 0.3s;

  color: #888;
  background-color: #fff;
}

.timeinput input[type=time]::before{
  content: attr(data-placeholder);
  width: 100%;
}

.timeinput input[type="time"]:focus::before, input[type="time"]:valid::before{
  display: none
}

.timeinput input[type="time"]:valid{
  border-bottom: 2px solid #005cef;
  color: #005cef !important;
}

/* input_radiobtn */

.radiobtn_l{
  position: relative;
  margin-top: 12px;
}

.radiobtn_l input[type=radio]{
  display: none;
}

.radiobtn_l input[type=radio] + label {
  width: 100%;
  padding: 9px 12px 8px 12px;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  border: solid 2px #eee;
  color: #888;
  font-size: 13px;
}

.radiobtn_l input[type=radio]:checked + label {
  border: solid 2px #005cef;
  color: #005cef;
}

.radiobtn_s{
  margin-top: 12px;
}

.radiobtn_s input[type=radio]{
  display: none;
}

.radiobtn_s input[type=radio] + label {
  width: 100%;
  padding: 3px 8px 3px 8px;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  border: solid 2px #eee;
  color: #888;
  font-size: 13px;
}

.radiobtn_s input[type=radio]:checked + label {
  border: solid 2px #005cef;
  color: #005cef;
}

.radiobtn_s input[type=radio]:checked + label path{
  fill: #005cef;
}

.radiobtn_l_error input[type="radio"] + label,
.radiobtn_s_error input[type="radio"] + label{
  border: solid 2px #e61b22;
}

/* input_checkboxbtn */

.checkboxbtn_l{
  position: relative;
  margin-top: 12px;
}

.checkboxbtn_l input[type=checkbox]{
  display: none;
}

.checkboxbtn_l input[type=checkbox] + label {
  width: 100%;
  padding: 9px 12px 8px 12px;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  border: solid 2px #eee;
  color: #888;
  font-size: 13px;
}

.checkboxbtn_l input[type=checkbox]:checked + label {
  border: solid 2px #005cef;
  color: #005cef;
}

.checkboxbtn_l input[type=checkbox]:checked + label path{
  fill: #005cef;
}

.checkboxbtn_s{
  margin-top: 12px;
}

.checkboxbtn_s input[type=checkbox]{
  display: none;
}

.checkboxbtn_s input[type=checkbox] + label {
  width: 100%;
  padding: 3px 8px 3px 8px;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  border: solid 2px #eee;
  color: #888;
  font-size: 13px;
}

.checkboxbtn_s input[type=checkbox]:checked + label {
  border: solid 2px #005cef;
  color: #005cef;
}

.checkboxbtn_s input[type=checkbox]:checked + label path{
  fill: #005cef;
}

.checkboxbtn_l_error input[type="checkbox"] + label,
.checkboxbtn_s_error input[type="checkbox"] + label{
  border: solid 2px #e61b22;
}


/* error */


.input_error input[type="text"],
.input_error input[type="email"],
.input_error input[type="password"],
.input_error input[type="number"],
.input_error input[type="time"],
.input_error select {
    border-bottom: solid 2px #e61b22 !important;
}
.input_error input[type="date"] {
    border: solid 2px #e61b22 !important;
}


/* general */


.position_r{
  position: relative;
}

.text_c{
  text-align: center;
}

.color_w{
  color: #fff;
}

.color_3{
  color: #333;
}

.color_8{
  color: #888;
}

.color_p{
  color: #005cef;
}

.mar_10{
  margin-top: 10px;
}

.mar_15{
  margin-top: 10px;
}

.mar_30{
  margin-top: 30px;
}

.mar_50{
  margin-top: 50px;
}

.mar_100{
  margin-top: 100px;
}

.mar_150{
  margin-top: 150px;
}

.inline_b{
  display:inline-block;
  zoom:1;
  * display:inline;
}

.a_under{
  text-decoration: underline;
}

.font_t{
  font-family: 'NotoSansKR Thin';
}

.font_b{
  font-family: 'NotoSansKR Bold';
}

.display_n{
  display: none;
}

.global_close{
  position: absolute;
  top: 17px;
  right: 15px;
  z-index: 99;
}

.global_close img{
  width: 15px;
  height: 15px;
}

.global_back{
  position: absolute;
  top: 20px;
  left: 15px;
  z-index: 99;
}

.global_back img{
  width: 15px;
  height: 15px;
}

.grobal_head{
  position: fixed;
  top: 0px;
  z-index: 100;

  width: 100%;
  padding: 15px;
  background-color: #fff;
  border-bottom: solid 1px #eee;
}

.grobal_head h4{
  font-family: 'NotoSansKR Bold';
}

.grobal_head a{
  color: #333;
}

.grobal_body{
  margin: 49px 0px 15px 0px;
}

.grobal_box{
  padding: 14px;
  margin-bottom: 16px;

  background-color: #fff;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-box-shadow: 3px 3px 8px 0px #eee;
  -moz-box-shadow: 3px 3px 8px 0px #eee;
  box-shadow: 3px 3px 8px 0px #eee;
}

.grobal_basebox{
  margin-bottom: 16px;

  background-color: #fff;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-box-shadow: 3px 3px 8px 0px #eee;
  -moz-box-shadow: 3px 3px 8px 0px #eee;
  box-shadow: 3px 3px 8px 0px #eee;
}

.grobal_btnbox{
  padding: 10px;
  background-color: #fff;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-box-shadow: 3px 3px 8px 0px #eee;
  -moz-box-shadow: 3px 3px 8px 0px #eee;
  box-shadow: 3px 3px 8px 0px #eee;
}

.grobal_radiusbottombtn{
  position: fixed;
  z-index: 98;
  bottom: 15px;
  left: 50%;
  margin-left: -50px;

  padding: 10px 16px 10px 16px;
  background-color: #fff;

  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;

  -webkit-box-shadow: 3px 3px 8px 0px #ccc;
  -moz-box-shadow: 3px 3px 8px 0px #ccc;
  box-shadow: 3px 3px 8px 0px #ccc;
}

.grobal_hamburger{
  position: absolute;
  top: 16px;
  right: 15px;
  z-index: 99;
}

.grobal_hamburger img{
  width: 22px;
  height: 22px;
}

.white_head{
  position: fixed;
  top: 0px;
  z-index: 100;

  width: 100%;
  padding: 15px;
  background-color: #fff;
}

.white_head h4{
  font-family: 'NotoSansKR Bold';
}

.white_body{
  margin-top: 54px;
  margin-bottom: 30px;
}

.bottombtn{
  position: fixed;
  bottom: 0px;
  z-index: 100;

  display: -webkit-flex;
  display: flex;
  width: 100%;

  text-align: center;
}

.bottombtn_p{
	flex: 1;
  background-color: #005cef;
  color: #fff;
  padding: 15px;
}

.bottombtn_p_o{
	flex: 1;
  background-color: #a6c6fa;
  color: #fff;
  padding: 15px;
}

.bottombtn_back{
	flex: 1;
  background-color: #505050;
  color: #fff;
  padding: 15px;
}

.grobal_btn{
  display: -webkit-flex;
  display: flex;
  width: 100%;
}

.grobal_btn_round{
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

.grobal_btn_primary{
  flex: 1;
  padding: 12px;
  text-align: center;

  background-color: #005cef;
  color: #fff;
}

.grobal_btn_s_primary{
  flex: 1;
  padding: 9px 12px 8px 12px;
  text-align: center;

  font-size: 13px;
  background-color: #005cef;
  color: #fff;
}

.grobal_errortext{
  margin-top: 4px;
  color: #e61b22;
}


/* modal */


.modal_top{
  display: none;
  position: fixed;
  top:0;
  left:0;
  z-index: 201;

  width: 100%;

  background-color: #fff;

  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.modal_bottom,
.job_detail_modal_bottom {
  display: none;
  position: fixed;
  bottom:0;
  left:0;
  z-index: 201;

  width: 100%;

  background-color: #fff;

  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.modal_title{
  margin: 0px 0px 20px 0px;

  font-size: 16px;
  font-family: 'NotoSansKR Bold';
}

.modal_background,
.job_detail_modal_background {
  display: none;
  position: fixed;
  z-index: 200;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0,0,0,.3);

}

.modal_x img{
  position: absolute;
  top: 17px;
  right: 11px;
}

.modal_btn{
  display: -webkit-flex;
  display: flex;
  width: 100%;
  margin: 20px 0px 0px 0px;

  text-align: center;
}


/* regist */


.regist_head{
  position: fixed;
  top: 0px;
  z-index: 100;

  width: 100%;
  padding: 15px;
  background-color: #fff;
}

.regist_head h4{
  font-family: 'NotoSansKR Bold';
  text-align: center;
}

.regist_step_line_p{
  width: 100%;
  height: 2px;
  background-color: #005cef;
  border-radius: 2px;
}

.regist_step_line_pd{
  width: 100%;
  height: 2px;
  background-color: #e5eefd;
  border-radius: 2px;
}

.regist_step_line_text{
  margin-top: 4px;
  text-align: center;
  color: #005cef;
}

.regist_body{
  padding: 54px 0px 90px 0px;
  background-color: #fff;
}

.regist_list:nth-child(2){
  margin-top: 25px;
}

.regist_list{
  margin-top: 40px;
}

.regist_moneyafter{
  width: 13px;
  height: 12px;
  margin: 0px 3px 0px 0px;
}

.regist_emoji{
  position: relative;
  top: -2px;

  padding-right: 5px;

  font-size: 15px;
}

.regist_documentcheck{
  position: absolute;
  right: 14px;
  top: 14px;

  width: 13px;
  height: 12px;
}


/* detail */


.detail_title{
  padding: 25px;
}

.detail_title h4{
  color: #888;
}

.detail_title_want{
  margin: 4px 0px 0px 0px;

  font-size: 18px;
  font-family: 'NotoSansKR Bold';
}

.detail_icontitle img{
  width: 22px;
  margin: 0px 0px 15px 0px;

  color: #005cef;
}

.detail_icontitle h4{
  font-family: 'NotoSansKR Bold';
}

.detail_icontitle h5{
  margin: 4px 0px 0px 0px;
  color: #888;
}

.detail_contents h5{
  margin: 10px 0px 0px 0px;
  line-height: 20px;
}

.detail_info{
  display: -webkit-flex;
  display: flex;
  margin-bottom: 10px;
}

.detail_info:last-child {
  margin-bottom: 0px;
}

.detail_info h5{
  flex: 1;
  line-height: normal;
}

.detail_info_title{
  width: 75px;
  margin-right: 10px;

  color: #888;
}

.detail_date h5{
  display:inline-block;
  zoom:1;
  * display:inline;

  margin: 10px 8px 0px 0px;
}

.detail_date_g{
  padding: 5px 9px 6px 9.5px;

  background-color: #f5f5f5;
  color: #ccc;

  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.detail_date_p{
  padding: 5px 9px 6px 9.5px;

  background-color: #e5eefd;
  color: #005cef;

  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;

}

.detail_contact{
  text-align: center;
}

.detail_contact img{
  width: 15px;
  margin: -1px 2px 0px 0px;
  vertical-align: middle;

  display:inline-block;
  zoom:1;
  * display:inline;
}

.detail_contact h5{
  color: #005cef;

  display:inline-block;
  zoom:1;
  * display:inline;
}

.detail_call_body{
  padding: 15px 0px 0px 0px;
}

.detail_call_caution{

}


/* list */


.list_body{
  margin: 25px 0px 15px 0px;
}

.list_top{
  position: relative;

  margin: 0px 8px 20px 8px;
}

.list_logo img{
  width: 90px;
}

.list_logo h4{
  margin: 16px 0px 0px 0px;
  font-family: 'NotoSansKR Bold';
}

.list_top_now{
  margin: 32px 0px 0px 0px;
}

.list_top_now_dropdown{
  margin: -3px 6px 0px 0px;
  padding: 4px 12px;
  color: #005cef;
  font-size: 15px;

  background-color: #fff;

  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;

  -webkit-box-shadow: 3px 3px 8px 0px #eee;
  -moz-box-shadow: 3px 3px 8px 0px #eee;
  box-shadow: 3px 3px 8px 0px #eee;
}

.list_top_now_dropdown img{
  width: 9px;
  margin: 10px 0px 0px 4px;
}

.list_hamburg{
  position: absolute;
  top: 5px;
  right: 0px;
}

.list_hamburg img{
  width: 15px;
}

.list_local{
  position: relative;
  margin: 0px 0px 0px 4px;
}

.list_local img{
  position: absolute;
  top: 11px;

  width: 9px;
  margin: 0px 0px 0px 4px;
}

.list_date{
  position: relative;
  margin: 0px 0px 13px 0px;

  font-size: 10px;
}

.list_date_start{
  color: #333;
}

.list_date_start span{
  padding: 2px 5px 3px 5px;

  background-color: #f3f3f3;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.list_date_days{
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}

.list_date_days_g{
  padding: 2px 5.5px 3px 6px;
  margin-left: 5px;

  background-color: #f5f5f5;
  color: #ccc;

  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.list_date_days_p{
  padding: 2px 5.5px 3px 6px;
  margin-left: 5px;

  background-color: #e5eefd;
  color: #005cef;

  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.list_title{
  margin: 0px 0px 4px 0px;
  color: #333;
}

.list_sub{
  margin: 0px 0px 10px 0px;

  color: #888;
}

.list_price{
  position: relative;
}

.list_price h4{
  text-align: right;
  font-family: 'NotoSansKR Bold';

  color: #005cef;
}

.list_age{
  position: absolute;
  top: 3px;
  left: 0px;

  color: #333;
}

.list_age img{
  width: 15px;
  margin: 2px 5px 0px 0px;
}

.list_contact{
  text-align: center;
}

.list_contact img{
  width: 15px;
  margin: -1px 2px 0px 0px;
  vertical-align: middle;

  display:inline-block;
  zoom:1;
  * display:inline;
}

.list_contact h5{
  color: #005cef;

  display:inline-block;
  zoom:1;
  * display:inline;
}

.list_local_check{
  position: relative;

  color: #005cef;
}

.list_local_check img{
  position: absolute;
  top: 3px;
  right: 0px;

  width: 16px;
}

.list_local_body{
  padding: 15px 0px 15px 0px;
}

.list_local_body h5{
  width: 100%;
  margin: 0px 0px 25px 0px;
}

.list_local_body h5:last-child{
  margin: 0px 0px 0px 0px;
}

.list_onlyimg img{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


/* user */

.user_content{
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);

  width: 100%;
  padding: 0px 15px 0px 15px;
}

.user_head{
  position: fixed;
  top: 0px;
  z-index: 100;

  width: 100%;
  padding: 15px;
  background-color: #fff;
}

.user_head h4{
  font-family: 'NotoSansKR Bold';
}


/* home */


.home_img{
  padding: 0px 13px 30px 13px;
  text-align: center;
}

.home_title{
  padding: 0px 0px 10px 0px;
  text-align: center;

  font-family: 'NotoSansKR Bold';
}

.home_btn{
  padding: 0px 0px 20px 0px;
}

.home_login{
  padding: 0px 0px 20px 0px;
}

.home_list{
  padding-bottom: 26px;
}

.home_list_btn{
  padding-top: 14px;
}

.home_list_btn{
  padding-top: 14px;
}

.home_bottom{
  position: absolute;
  bottom: 16px;
  text-align: center;
  left: 0;
  right:0;
}

.home_bottom span{
  margin-right: 10px;
}

.home_emailimg{
  width: 150px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.signup_body{
  margin: 90px 0px 40px 0px;
}


/* mypage */


.mpg_section{
  margin: 15px 0px 0px 0px;
}

.mpg_section:nth-child(1){
  margin: 0px 0px 0px 0px;
}

.mpg_title{
  padding: 20px 0px 15px 15px;

  color: #888;
}

.mpg_menu{
  background-color: #f5f5f5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0px 0px 15px 0px;
}

.mpg_menu a{
  color: #333;
}

.mpg_menu_body{
  display: -webkit-flex;
  display: flex;
  width: 100%;

  padding: 16px 15px 16px 15px;
}

.mpg_menu_body h4{
  flex: auto;
}

.mpg_menu_body h5{
  flex: auto;
  padding-top: 2px;
  text-align: right;

  color: #888;
}

.mpg_menu_body h5 img{
  width: 15px;
  margin: 4px 0px 0px 0px;
}

.mpg_menu_line{
  width: 100%;
  height: 1px;

  background-color: #fff;
}

.mpg_menu_collapse{
  padding: 0px 15px 16px 15px;
  line-height: 24px;
}

.mpg_menu_collapse p{
  margin-top: 0px;
  margin-bottom: 10px;
}

.mpg_menu_collapse p:last-child{
  margin-top: 0px;
  margin-bottom: 0px;
}


/* hamburger */


.hbg_body{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 300;

  width: 60%;
  height: 100%;
  overflow: scroll;

  background-color: #fff;

}

.hbg_background{
  display: none;
  position: fixed;
  z-index: 200;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0,0,0,.3);

}

.hbg_top{
  padding: 30px 25px 30px 25px;

  background-color: #f5f5f5;
}

.hbg_top h3{
  font-family: 'NotoSansKR Bold';
}

.hbg_top h5{
  margin-top: 2px;

  color: #888;
}

.hbg_bottom{
  margin-top: 10px;
}

.hbg_bottom a{
  color: #333;
}

.hbg_section{
  padding: 17px 25px 17px 25px;
}

.hbg_section img{
  width: 22px;

  margin: 2px 14px 0px 0px;
}

.hbg_logo{
  margin-top: 45px;
}

.hbg_logo img{
  width: 90px;
}

.hbg_sutitle{
  margin-top: 15px;
}

.hbg_regist{
  margin-top: 30px;
  padding: 0px 25px;
}

.hbg_login{
  margin-top: 20px;
}

.hbg_bottom{
  position: absolute;
  bottom: 20px;

  text-align: center;
  left: 0;
  right: 0;
}

.hbg_logout{
  position: fixed;
  z-index: 98;
  top: 50%;
  margin-top: -84px;

  padding: 0px 25px 0px 25px;
  text-align: center;
}

.hbg_logout img{
  width: 105px;
  margin-bottom: 30px;
}

.hbg_logout button{
  margin: 0px 0px 20px 0px;
}

/* headlocal */


.headlocal_img{
  width: 9px;
  margin: 11px 0px 0px 6px;
}

.headlocal_body{
  display: none;
  position: fixed;
  top: 54px;
  z-index: 300;

  width: 100%;

  padding: 0px 15px 0px 15px;

  background-color: #fff;
}

.headlocal_background{
  display: none;
  position: fixed;
  z-index: 99;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0,0,0,.3);
}

.headlocal_body h4{
  padding: 0px 0px 15px 0px;
}

.headlocal_body h4 a{
  color: #333;
}


/* empty */


.empty{
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);

  width: 100%;
  text-align: center;
}

.empty img{
  width: 150px;
}

.empty h4{
  margin: 25px 0px 0px 0px;

  font-family: 'NotoSansKR Bold';
}

.empty h5{
  margin: 10px 0px 0px 0px;

  color: #888;
}
