<!-- head -->
<div class="grobal_head" id="toolbar" style="display:none">
  <h4>
    <a id="hl_open">[[ selectedLocation.name ]]<img class="headlocal_img" src="../../static/images/global/dropdown_arrow.svg" alt="dropdown_arrow"></a>
  </h4>

  <div class="grobal_hamburger">
    <a id="hbg_open">
      <img src="../../static/images/global/icon_hamburg_black.svg" border="0" width ="300" height="300" alt="icon_hamburg_black">
    </a>
  </div>
</div>


<!-- mypage modal -->

<div class="hbg_body">

  <!-- 로그인 경우 -->
  <div v-if="user != null">
    <div class="hbg_top">
      <h3>[[ user.username ]]&nbsp;님</h3>

      <h5>[[ user.email ]]</h5>

    </div>


    <div class="hbg_list">
      <a href="../mypage">
        <h4 class="hbg_section">
          <img src="../../static/images/hamburger/icon_user.svg" alt="icon_mylist">
          회원정보
        </h4>
      </a>

      <a href="../contact">
        <h4 class="hbg_section">
          <img src="../../static/images/hamburger/icon_question.svg" alt="icon_mylist">
          도움말 및 문의
        </h4>
      </a>

    </div>

  </div>

  <!-- 로그아웃 경우 -->
  <div v-if="user == null">
    <div class="hbg_logout">
      <img class="hbg_logout_logo" src="../../static/images/global/icon_logo.svg" alt="logo">

      <button type="button" name="signup" onClick="location.href='/user/signup'">
        <h4 class="grobal_btn_primary grobal_btn_round">간편 회원가입</h4>
      </button>

      <h4>
        <a href="/user/login">로그인</a>
      </h4>
    </div>

  </div>

  <h5 class="hbg_bottom color_8">@2020 Team MOMO</h5>

</div>

<div class="hbg_background"></div>

<!-- headlocal modal -->

<div class="headlocal_body">
  <div v-for="location in locations">
    <h4  v-for="secondLocation in location.secondLocations" v-on:click="onLocationClick(secondLocation)">
      [[ location.name ]] [[ secondLocation.name ]]
    </h4>
  </div>
</div>

<div class="headlocal_background"></div>
