{% include 'head.html' %}

<div class="grobal_radiusbottombtn">
  <div class="list_contact">
    <img src="../../static/images/list/list_regist.svg" alt="list_regist">
    <h5>등록하기</h5>
  </div>
</div>

<div class="list_body">
  <!-- start -->

  <div class="container">

    <!-- top -->
    <div class="row">
      <div class="col-12">
        <div class="list_top">
          <h3>더 나은 출근길을 만듭니다<br/>등/하원 서비스 <span class="color_p">SchoolRoad</span></h3>

          <h4>
            <div class="inline_b">현재</div>

            <div class="inline_b list_local">
              <a href="#" id="modal_open">광진구<img src="../../static/images/list/list_arrow.svg" alt="list_arrow"></a>
            </div>
          </h4>

          <div class="list_hamburg">
            <img src="../../static/images/global/hamburg.svg" alt="hamburg">
          </div>

        </div>
      </div>

    </div>


    <!-- modal -->
    
    <div class="modal_top list_local_body">
      <div class="container">
        <div class="row">
          <div class="col-12 modal_title">
            지역선택
          </div>

          <h5 class="col-12">서울특별시 강남구</h5>

          <h5 class="col-12">서울특별시 강동구</h5>

          <h5 class="col-12">
            <div class="list_local_check">
              서울특별시 광진구 <img src="../../static/images/global/icon_check_p.svg" alt="icon_check_p">
            </div>
          </h5>

          <h5 class="col-12">서울특별시 강서구</h5>

          <h5 class="col-12">서울특별시 서대문구</h5>


        </div>

      </div>
    </div>

    <div class="modal_background"></div>


    <!-- list -->
    <div class="row">
      <div class="col-12">
        <div class="grobal_box">
          <div class="list_date">
            <div class="list_date_start">
              <span>19/01/01 시작</span>
            </div>

            <div class="list_date_days">
              <span class="list_date_days_g">월</span>
              <span class="list_date_days_p">화</span>
              <span class="list_date_days_p">수</span>
              <span class="list_date_days_p">목</span>
              <span class="list_date_days_p">금</span>
              <span class="list_date_days_p">토</span>
              <span class="list_date_days_g">일</span>
            </div>

          </div>

          <h5 class="list_title">
            등하원 스쿨버스 도우미 구합니다
          </h5>

          <div class="list_sub">
            광진구 자양1동
          </div>

          <div class="list_price">
            <h4>35,000 원</h4>

            <div class="list_age">
              <img src="../../static/images/list/list_children.svg" alt="list_children">초등학생
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-12">
        <div class="grobal_box">
          <div class="list_date">
            <div class="list_date_start">
              <span>19/01/01 시작</span>
            </div>

            <div class="list_date_days">
              <span class="list_date_days_g">월</span>
              <span class="list_date_days_p">화</span>
              <span class="list_date_days_p">수</span>
              <span class="list_date_days_p">목</span>
              <span class="list_date_days_p">금</span>
              <span class="list_date_days_p">토</span>
              <span class="list_date_days_g">일</span>
            </div>

          </div>

          <h5 class="list_title">
            등하원 스쿨버스 도우미 구합니다
          </h5>

          <div class="list_sub">
            광진구 자양1동
          </div>

          <div class="list_price">
            <h4>35,000 원</h4>

            <div class="list_age">
              <img src="../../static/images/list/list_children.svg" alt="list_children">초등학생
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-12">
        <div class="grobal_box">
          <div class="list_date">
            <div class="list_date_start">
              <span>19/01/01 시작</span>
            </div>

            <div class="list_date_days">
              <span class="list_date_days_g">월</span>
              <span class="list_date_days_p">화</span>
              <span class="list_date_days_p">수</span>
              <span class="list_date_days_p">목</span>
              <span class="list_date_days_p">금</span>
              <span class="list_date_days_p">토</span>
              <span class="list_date_days_g">일</span>
            </div>

          </div>

          <h5 class="list_title">
            등하원 스쿨버스 도우미 구합니다
          </h5>

          <div class="list_sub">
            광진구 자양1동
          </div>

          <div class="list_price">
            <h4>35,000 원</h4>

            <div class="list_age">
              <img src="../../static/images/list/list_children.svg" alt="list_children">초등학생
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-12">
        <div class="grobal_box">
          <div class="list_date">
            <div class="list_date_start">
              <span>19/01/01 시작</span>
            </div>

            <div class="list_date_days">
              <span class="list_date_days_g">월</span>
              <span class="list_date_days_p">화</span>
              <span class="list_date_days_p">수</span>
              <span class="list_date_days_p">목</span>
              <span class="list_date_days_p">금</span>
              <span class="list_date_days_p">토</span>
              <span class="list_date_days_g">일</span>
            </div>

          </div>

          <h5 class="list_title">
            등하원 스쿨버스 도우미 구합니다
          </h5>

          <div class="list_sub">
            광진구 자양1동
          </div>

          <div class="list_price">
            <h4>35,000 원</h4>

            <div class="list_age">
              <img src="../../static/images/list/list_children.svg" alt="list_children">초등학생
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>


</div>

{% include 'footer.html' %}
